{%- capture vertical_position -%}
  {%- if s.vertical_text_position == "top" -%}
    justify-start
  {%- elsif s.vertical_text_position == "middle" -%}
    justify-around
  {%- else -%}
    justify-end
  {%- endif -%}
{%- endcapture -%}

{%- capture horizontal_position -%}
  {%- if s.horizontal_text_position == "left" -%}
    mr-auto
  {%- elsif s.horizontal_text_position == "center" -%}
    center tc
  {%- else -%}
    ml-auto tr
  {%- endif -%}
{%- endcapture -%}

<div class="content-overlay z-3 absolute absolute--fill flex flex-column {{ vertical_position }}" {% if s.text_color != blank %}style="color: {{ s.text_color }}"{% endif %}>

  {%- if contain == true -%}
    <div class="content-overlay__container">
  {%- endif -%}

  <div class="content-overlay__inner">
    {%- if heading != blank -%}
      <h3 class="content-overlay__heading type-heading-1 {{ horizontal_position }}" {%- if s.text_max_width != blank -%} style="max-width: {{ s.text_max_width }}em;"{%- endif -%}>{{ heading }}</h3>
    {%- endif -%}

    {%- if s.subheading != blank -%}
      <p class="content-overlay__subheading type-body-regular {{ horizontal_position }}" {%- if s.text_max_width != blank -%} style="max-width: {{ s.text_max_width }}em;"{%- endif -%}>{{ s.subheading }}</p>
    {%- endif -%}

    {%- if s.link != blank and s.link_text != blank -%}
      {%- if s.link_style == 'button' -%}
        <a href="{{ s.link }}" class="bttn {{ horizontal_position }}">{{ s.link_text }}</a>
      {%- else -%}
        <a href="{{ s.link }}" class="accent-link {{ horizontal_position }}">{{ s.link_text }} &rarr;</a>
      {%- endif -%}
    {%- endif -%}
  </div>

  {%- if contain == true -%}
    </div>
  {%- endif -%}
</div>

{% if s.overlay_color != blank %}
  <div class="z-1 absolute absolute--fill o-{{ s.overlay_opacity }}" style="background: {{ s.overlay_color }};"></div>
{% endif %}