{%- if section.settings.enabled == true -%}
  {%- assign product_count = section.settings.per_row | times: section.settings.rows -%}

  <section
    class="section product-recommendations"
    data-component="productRecommendations"
  >

      <div class="js-product-recommendations product-recommendations__wrapper product-recommendations__wrapper--{{ section.settings.alignment }} {% include 'section-style' %}" data-product-id="{{ product.id }}" data-limit="{{ product_count }}">
        {%- if recommendations.products_count > 0 -%}

          <div class="product-recommendations__side">
            <h2 class="type-heading-1">{{ section.settings.title }}</h2>
          </div>

          <div class="product-recommendations__products" data-slider>
            {%- for product in recommendations.products -%}
              <div class="product-recommendations__product">
                {% include 'product-tile', product: product %}
              </div>
            {%- endfor -%}
          </div>

        {%- endif -%}
      </div>

  </section>
{%- endif -%}

<style>
  #shopify-section-{{section.id}} .product-recommendations__product {
    width: calc(100%/{{ section.settings.per_row }});
  }
</style>

{% schema %}
  {
    "name": "Recommended products",
    "settings": [
      {
        "type": "checkbox",
        "id": "enabled",
        "label": "Enable",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "You May Also Like"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Heading alignment",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "above", "label": "Center" },
          { "value": "right", "label": "Right" }
        ]
      },
      {
        "type": "range",
        "id": "rows",
        "label": "Rows",
        "min": 1,
        "max": 3,
        "step": 1,
        "default": 1
      },
      {
        "type": "range",
        "id": "per_row",
        "label": "Products per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "header",
        "content": "Section style"
      },
      {
        "type": "checkbox",
        "id": "outline",
        "label": "Outline section",
        "default": false
      }
    ]
  }
{% endschema %}