<footer
  data-section-id="{{ section.id }}"
  data-section-type="footer"
  class="footer"
>
  {% if section.settings.show_newsletter_signup %}{% if template == 'index' %}
    <div class="foofooter header-footer">
      <div class="footer__container">
        <div class="footer__newsletter">
          <div class="footer__signup-text">
            {{ 'general.newsletter_form.newsletter_email' | t }}
          </div>
          <div class="footer__input-wrap">
            {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
              {% else %}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter__input-container">
                  <input type="email"
                    class="input-reset input"
                    name="contact[email]"
                    id="Email"
                    value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                    placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                    autocorrect="off"
                    autocapitalize="off">
                </div>
              {% endif %}
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}{% endif %}
    
  <div class="foofooter body-footer">
    <div class="footer__container">
      <section class="footer__cols">
        {% for block in section.blocks %}

          {% if block.type == 'text' %}
            <div class="footer__col-text">
              <h3 class="type-body-regular">{{ block.settings.title }}</h3>
              {% if block.settings.text %}
                <div class="type-body-small rte measure">
                  {{ block.settings.text }}
                </div>
              {% endif %}
            </div>
          {% endif %}

          {% if block.type == 'link_list' %}
            <div class="footer__col-list">
              <h3 class="type-body-regular">{{ linklists[block.settings.menu].title }}</h3>
              {% if linklists[block.settings.menu].links.size > 0 %}
                <ul class="list ma0 pa0 type-body-small">
                  {% for link in linklists[block.settings.menu].links %}
                    <li class="ma0"><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endif %}

        {% endfor %}

      </section>
    </div>
  </div>

  <div class="foofooter bottom1-footer">
    <div class="footer__container">
      <div class="footer__bottom">
        <div class="footer__bottom-left">
          {% if settings.show_multiple_currencies or section.settings.show_payment_icons %}
            <div class="footer__currency-payments">

              {%- if settings.show_multiple_currencies -%}
                {% include 'currency-picker' %}
              {%- endif -%}

              {% if section.settings.show_payment_icons %}
                <div class="footer__payment-icons">
                    {% unless shop.enabled_payment_types == empty %}
                      <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
                      <ul class="payment-icons list ma0 pa0">
                        {% for type in shop.enabled_payment_types %}
                          <li class="footer__payment-icon">
                            {{ type | payment_type_svg_tag: class: 'icon' }}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endunless %}
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
        <div class="footer__bottom-right">
          {% include 'social-icons' %}
        </div>
      </div>
    </div>
  </div>

  <div class="foofooter bottom2-footer">
    <div class="footer__container">
      <div class="footer__internal-copyright">
        <p>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}.</p>
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_newsletter_signup",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "About the shop"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme settings.</p>"
          }
        ]
      },
      {
        "type": "link_list",
        "name": "Links",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "info": "This menu won't show dropdown items.",
            "default": "footer"
          }
        ]
      }
    ]
  }

{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>
