<section
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-video"
  data-video-type="{{ section.settings.video_url.type }}"
  data-video-id="{{ section.settings.video_url.id }}"
  class="section"
>
  <div class="video">

    {% if section.settings.title != blank or section.settings.subheading != blank %}
      <div class="pa4 tc">
        {% if section.settings.title != blank %}
          <h2 class="video__heading type-heading-1">{{ section.settings.title }}</h2>
        {% endif %}
        {% if section.settings.subheading != blank %}
          <p class="type-body-regular video__subheading measure-wide">{{ section.settings.subheading }}</p>
        {% endif %}
      </div>
    {% endif %}

    <div class="video__wrapper">
      <div class="video__overlay visible">
        <div class="z-5 absolute absolute--fill flex justify-around items-center">
          {%- if section.settings.video_url != blank -%}
            <div class="video__play-button" data-video-trigger>
              {% include 'icon-play' %}
            </div>
          {%- endif -%}
        </div>

        {% if section.settings.image != blank %}
          <div
            class="video__image absolute absolute--fill lazyload"
            data-bgset="{% include 'responsive-bg-image', image: section.settings.image %}"
            role="img"
            aria-label="{{ section.settings.image.alt }}"
          ></div>
        {% endif %}
        <div class="video__wash absolute absolute--fill o-{{ section.settings.overlay_opacity }}" style="background: {{ section.settings.overlay_color }};"></div>
        {% if section.settings.meta != blank %}
          <div class="video__meta-text" style="color: {{ section.settings.text_color }}">{{ section.settings.meta }}</div>
        {% endif %}

      </div>

      <div class="video__container video__container--{{ section.id }}">
        <div class="video__player video__player--{{ section.id }}"></div>
      </div>

    </div>

  </div>
</section>

{% schema %}
  {
    "name": "Video",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "textarea",
        "id": "meta",
        "label": "Meta text"
      },
      {
        "id": "video_url",
        "type": "video_url",
        "label": "Video URL",
        "accept": ["youtube", "vimeo"],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Featured image"
      },
      {
        "type": "header",
        "content": "Overlay options"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "default": 20,
        "label": "Overlay opacity"
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Meta text color"
      }
    ],
    "presets": [
      {
        "name": "Video",
        "category": "Video",
        "settings": {
          "title": "Featured video",
          "subheading": "Use this section for interviews, product promotions, demo reels, and more."
        }
      }
    ]
  }
{% endschema %}