<section
  data-section-id="{{ section.id }}"
  data-section-type="{{ type }}"
  class="testimonials section"
>
  <div class="{% include 'section-style' %}">
    <div class="testimonials__quote-mark">
      {% include 'icon-quote' %}
    </div>
    <div class="js-fq testimonials__container">
      {% for block in section.blocks %}
        <div
          class="testimonials__slide ph3 tc"
          {% if block.settings.icon != blank %}
            data-image="{{ block.settings.icon | img_url: '200x' }}"
          {% endif %}
          data-index="{{ forloop.index0 }}"
          {{ block.shopify_attributes }}
        >
          <div class="type-heading-1 mw8 center mt3">{{ block.settings.quote }}</div>
          {% if block.settings.author %}
            <p class="type-body-regular">{{ block.settings.author }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="testimonials__pagination">
      {% for block in section.blocks %}
        {% if block.settings.icon != blank %}
          <img
            data-pagination
            data-index="{{ forloop.index0 }}"
            class="testimonials__icon {% if forloop.index0 == 0 %}active{% endif %}"
            src="{{ block.settings.icon | img_url: '300x' }}"
            alt="{{ block.settings.icon.alt }}"
          />
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<style>
  #shopify-section-{{ section.id }} .testimonials__icon {
    width: {{ section.settings.icon_width }}px;
  }
</style>