<section
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-location"
  class="section map"
>
  <div class="flex flex-wrap {% include 'section-style' %}">

    <div class="w-100 w-third-ns ph3 pb4 pl4-ns pr3-ns">

      {%- if section.settings.title != blank -%}
        <h2 class="type-heading-1 mt4">{{ section.settings.title | escape }}</h2>
      {%- endif -%}

      {%- if section.settings.address != blank -%}
        <div class="type-body-regular rte center measure-wide">
          {{ section.settings.address }}
        </div>
      {%- endif -%}

      {%- if section.settings.hours !=blank -%}
        <div class="type-body-regular rte measure-wide mt3">
          {{ section.settings.hours }}
        </div>
      {%- endif -%}

      {%- if section.settings.map_link_text != blank -%}
        <div class="center measure-wide mt3">
          <a href="https://maps.google.com?daddr={{ section.settings.map_address | url_encode }}" class="accent-link">
            {{ section.settings.map_link_text }} &rarr;
          </a>
        </div>
      {%- endif -%}

    </div>

    <div class="w-100 w-two-thirds-ns pl3-ns">

      {% if section.settings.api_key != blank %}
        <div
          class="map__container"
          data-api="{{ section.settings.api_key }}"
          data-address="{{ section.settings.map_address | url_encode }}"
          style="height: 600px;"
        >
          <div class="map__element" style="height: 100%;"></div>
        </div>
      {% else %}

        {% if section.settings.image %}
          {% include 'responsive-image',
            image: section.settings.image,
            image_class: 'w-100',
            max_width: 2000
          %}
        {% else %}
          <div class="map__placeholder">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
        {% endif %}
      {% endif %}
    </div>

  </div>

</section>

  <script id="map-styles-{{ section.id }}" type="application/json">
    {
      "styles":
        {%- if section.settings.map_json != blank -%}
          {{ section.settings.map_json }}
        {% else %}
          {}
        {%- endif -%}
    }
  </script>

{% schema %}
  {
    "name": "Map",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Choose an image to represent your store. This will also function as a fallback image if the map doesn't load."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Come visit!"
      },
      {
        "type": "richtext",
        "id": "address",
        "label": "Address",
        "default": "<p>Address:<br/>Our store<br/>423 Fake St.<br/>Faketown, Ontario</p>"
      },
      {
        "type": "richtext",
        "id": "hours",
        "label": "Hours",
        "default": "<p>Hours:<br/>Mon - Fri, 10am - 7pm<br/>Saturday, 11am - 8pm<br/>Sunday, 11am - 5pm</p>"
      },
      {
        "type": "text",
        "id": "map_address",
        "label": "Map address",
        "info": "Google Maps will find the exact location."
      },
      {
        "type": "text",
        "id": "map_link_text",
        "label": "Map link text",
        "default": "Get Directions"
      },
      {
        "type": "text",
        "id": "api_key",
        "label": "Google Maps API key",
        "info": "You'll need to register a Google Maps API key to display the map."
      },
      {
        "type": "textarea",
        "id": "map_json",
        "label": "Custom map JSON",
        "info": "This area is for custom [map styles](https://mapstyle.withgoogle.com/)."
      }
    ],
    "presets": [{
        "name": "Map",
        "category": "Store information"
    }]
  }
{% endschema %}
