<section data-section-id="{{ section.id }}"
  data-section-type="dynamic-images-with-text"
  class="section images-with-text"
>
  <div id="js-iwt" class="images-with-text__container">
    {% for block in section.blocks %}
      <div class="images-with-text__item">
        <a href="{{ block.settings.link }}">
          <div class="images-with-text__item-inner">
            {% if block.settings.image != blank %}
              {% include 'responsive-image' with
                image: block.settings.image,
                max_width: 800,
                max_height: 800
              %}
            {% else %}
              <div class="images-with-text__placeholder">{{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}</div>
            {% endif %}


            <div class="pa4">
              <h2 class="images-with-text__heading type-heading-1">{{ block.settings.title }}</h2>
              {% if block.settings.subheading != '' %}
                <p class="images-with-text__subheading">{{ block.settings.subheading }}</p>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Images with text",
    "max_blocks": 6,
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Images with text"
          },
          {
            "type": "textarea",
            "id": "subheading",
            "label": "Subheading",
            "default": "These blocks are great for images with a text caption. Add them to your grid for some variety, or use them on their own to feature a product, blog post, or collection."
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "The entire block will act as the link."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Images with text",
        "category": "Image",
        "blocks": [
          {
            "type": "block",
            "settings": {
              "title": "Images with text",
              "subheading": "These blocks are great for images with a text caption. Add them to your grid for some variety, or use them on their own to feature a product, blog post, or collection."
            }
          },
          {
            "type": "block",
            "settings": {
             "title": "Images with text",
              "subheading": "These blocks are great for images with a text caption. Add them to your grid for some variety, or use them on their own to feature a product, blog post, or collection."
            }
          }
        ]
      }
    ]
  }
{% endschema %}