<section>

  {%- if section.settings.image != blank -%}
    {% assign s = section.settings %}
    <div
      class="about__featured-wrapper lazyload"
      data-bgset="{% include 'responsive-bg-image', image: section.settings.image %}"
      role="img"
      aria-label="{{ section.settings.image.alt }}"
    >
      <div class="about__image-overlay" {% if s.text_color != blank %}style="color: {{ s.text_color }}"{% endif %}>
        <div class="about__image-overlay-content section tc">
          <p class="about__breadcrumbs type-heading-meta">{{ 'general.meta.home' | t }} / {{ page.title }}</p>

          {%- if section.settings.title -%}
            <h1 class="about__heading type-heading-display">
              {{ section.settings.title }}
            </h1>
          {%- endif -%}

          {%- if section.settings.subheading -%}
            <h2 class="about__subheading type-body-extra-large">
              {{ section.settings.subheading }}
            </h2>
          {%- endif -%}
        </div>
      </div>

      {% if s.overlay_color != blank %}
        <div class="z-1 absolute absolute--fill o-{{ s.overlay_opacity }}" style="background: {{ s.overlay_color }};"></div>
      {% endif %}
    </div>
  {%- else -%}

    {% include 'page-header' with
      title: section.settings.title,
      subheading: section.settings.subheading
    %}

  {%- endif -%}


  <div class="about__copy">
    <div class="type-body-large rte centered-content">
      {{ page.content }}
    </div>
  </div>

</section>

{% schema %}
  {
    "name": "About",
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Featured image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Our Story"
      },
      {
        "type": "textarea",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "header",
        "content": "Style"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "label": "Overlay opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "default": 30,
        "unit": "%"
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color"
      }
    ]
  }
{% endschema %}