<div id="filters" data-component="collectionBar">
  <div class="collection__bar">
    <div>
      <button class="collection__button hide" data-button-filter>
        {{ 'collections.general.filter' | t }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          class="icon"
          viewBox="0 0 24 24"
        >
          <path d="M7 10l5 5 5-5z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </button>
      <button class="collection__button" data-button-sort>
        {{ 'collections.general.sort' | t }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          class="icon"
          viewBox="0 0 24 24"
        >
          <path d="M7 10l5 5 5-5z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </button>

      <ul class="collection__tags">
        {% for tag in current_tags %}
          {% assign parts = tag | split: '_' %}
          <li class="collection__tag">
            <strong>{{ parts[0] }}</strong> {{ parts[1] }}
            <span>
              {{
                '
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    class="icon"
                    viewBox="0 0 20 20"
                  >
                    <path d="M15.89 14.696l-4.734-4.734 4.717-4.717c.4-.4.37-1.085-.03-1.485s-1.085-.43-1.485-.03L9.641 8.447 4.97 3.776c-.4-.4-1.085-.37-1.485.03s-.43 1.085-.03 1.485l4.671 4.671-4.688 4.688c-.4.4-.37 1.085.03 1.485s1.085.43 1.485.03l4.688-4.687 4.734 4.734c.4.4 1.085.37 1.485-.03s.43-1.085.03-1.485z" />
                  </svg>
                ' | link_to_remove_tag: tag
              }}
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="collection__bar-view" data-collection-templates>
      {% assign views = "12,24,36" | split: ',' %}
      {{ 'collections.general.show' | t }}
      {% for num in views %}
        <a href="#" data-collection-template="view-{{ num }}">{{ num }}</a>
      {% endfor %}
    </div>
  </div>
</div>