{% if blog.comments_enabled? %}
{% paginate article.comments by 5 %}

  <div class="comments">

    <h3 class="comments__heading type-heading-1">{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h3>
    {% if comment and comment.status and comment.id != blank and paginate.current_page == 1 %}
      <p class="comments__success-message">
        {% if blog.moderated? and comment.status != 'published' %}
          {{ 'blogs.comments.success_moderated' | t }}
        {% else %}
          {{ 'blogs.comments.success' | t }}
        {% endif %}
      </p>
    {% endif %}

    {% if number_of_comments > 0 %}
      <ul class="comments__list">
        {% comment %}
          Display comment from URL parameters if it is waiting moderation
          We added "comment.id" check to make sure we don't display markup if there are form errors
        {% endcomment %}
        {% if comment and comment.status != 'published' and comment.id != blank %}
          <li id="{{ comment.id }}" class="comments__comment">
            <div class="rte">
              {{ comment.content }}
            </div>
            {% capture date %}{{ comment.created_at | time_tag: format: 'month_day_year' }}{% endcapture %}
            <p class="comments__comment-meta">{{ 'blogs.article.comment_meta_html' | t: author: comment.author, date: date }}</p>
          </li>
        {% endif %}

        {% for comment in article.comments %}
          <li id="{{ comment.id }}" class="comments__comment">
            <div class="rte">
              {{ comment.content }}
            </div>
            {% capture date %}{{ comment.created_at | time_tag: format: 'month_day_year' }}{% endcapture %}
            <p class="comments__comment-meta">{{ 'blogs.article.comment_meta_html' | t: author: comment.author, date: date }}</p>
          </li>
        {% endfor %}
      </ul>

      {% if paginate.pages > 1 %}
        {% include 'pagination' with total: paginate.items, of: paginate.page_size %}
      {% endif %}
    {% endif %}

  {% endpaginate %}

  {% form 'new_comment', article %}
    <h3 class="comments__heading type-heading-1">{{ 'blogs.comments.title' | t }}</h3>

    <div class="comments__new">

    {{ form.errors | default_errors }}

    <label for="CommentAuthor" class="label-hidden">
      {{ 'blogs.comments.name' | t }}
    </label>
    <input type="text"
            name="comment[author]"
            id="CommentAuthor"
            class="input {% if form.errors contains 'author' %}input-error{% endif %}"
            placeholder="{{ 'blogs.comments.name' | t }}"
            value="{{ form.author }}"
            autocapitalize="words">

    <label for="CommentEmail" class="label-hidden">
      {{ 'blogs.comments.email' | t }}
    </label>
    <input type="email"
            name="comment[email]"
            id="CommentEmail"
            class="input {% if form.errors contains 'email' %}input-error{% endif %}"
            placeholder="{{ 'blogs.comments.email' | t }}"
            value="{{ form.email }}"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off">

    <label for="CommentBody" class="label-hidden">
      {{ 'blogs.comments.message' | t }}
    </label>
    <textarea
      name="comment[body]"
      id="CommentBody"
      class="input {% if form.errors contains 'body' %}input-error{% endif %}"
      placeholder="{{ 'blogs.comments.message' | t }}">
      {{- form.body -}}
    </textarea>

    {% if blog.moderated? %}
      <p class="comments__moderated-message">{{ 'blogs.comments.moderated' | t }}</p>
    {% endif %}

    <input type="submit" class="button comments__submit" value="{{ 'blogs.comments.post' | t }}">

    </div>
  {% endform %}

  </div>
{% endif %}
