<!-- add the options +tags to the listed products attributes -->
{% if p.options[0] == 'Color' %}
  {% capture colours %}
    {% for variant in p.variants %}
      {% unless forloop.first %}
      ,{% endunless %}
      {{ variant.options[0] }}
    {% endfor %}
  {% endcapture %}
{% endif %}

{% if p.options[1] == 'Material' %}
  {% capture materials %}
    {% for variant in p.variants %}
      {% unless forloop.first %}
      ,{% endunless %}
      {{ variant.options[1] }}
    {% endfor %}
  {% endcapture %}
{% endif %}

{% if p.options[2] == 'Style' %}
  {% capture styles %}
    {% for variant in p.variants %}
      {% unless forloop.first %},
      {% endunless %}
      {{ variant.options[2] }}
    {% endfor %}
  {% endcapture %}
{% endif %}

{% if p.tags %}
  {% capture tagg %}
    {% for tag in p.tags %}
      {% if tag contains 'recommended:' %}
        {% unless forloop.first %},
        {% endunless %}
        {{ tag | replace: 'recommended:', '' }}
      {% endif %}
    {% endfor %}
  {% endcapture %}
{% endif %}

<div class="product" 
  data-colours="{{ colours | escape }}" 
  data-materials="{{ materials | escape }}" 
  data-styles="{{ styles | escape }}" 
  data-tags="{{ tagg | escape }}">
</div>