<div class="clearfix filter">
  <label for="sort_by" class="small--hide">Tags 1</label>
  <span class="collection__button-arrow">
    <select class="collection__button">
      <option value="">All</option>
      {% for tag in collection.all_tags %} {% if current_tags contains tag %}
      <option value="{{ tag | handle }}" selected>{{ tag }}</option>
      {% else %}
      <option value="{{ tag | handle }}">{{ tag }}</option>
      {% endif %} {% endfor %}
    </select>
  </span>
</div>

<script>
    /* Product Tag Filters - Good for any number of filters on any type of collection pages */
    var collFilters = jQuery('.collection__button');
    collFilters.change(function() {
        var newTags = [];
        collFilters.each(function() {
            if (jQuery(this).val()) {
                newTags.push(jQuery(this).val());
            }
        });
        if (newTags.length) {
            var query = newTags.join('+');
            window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('/' + 'tag', '/' + query);
        } else {
            {% if collection.handle %}
            window.location.href = '/collections/{{ collection.handle }}';
            {% elsif collection.products.first.type == collection.title %}
            window.location.href = '{{ collection.title | url_for_type }}';
            {% elsif collection.products.first.vendor == collection.title %}
            window.location.href = '{{ collection.title | url_for_vendor }}';
            {% endif %}
        }
    });
</script>